@import url('reset.css');



/* ------------------- bottom ---------------------- */
.top{
    background-color: #2EA9DF;
    color: white;
     /* margin-top: 50px; */
}

.header{
    max-width: 1200px;
    padding: 40px 0 10px 0;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* margin-top: 80px; */
    
}

.header-nav{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.header-nav li{
    /* margin-right: 10px; */
    /* border: 1px solid green; */
    margin-bottom: 20px;
}



.header-logo{
    height: 120px;
    
}

.li-logo{
    display: flex;
    /* border: 1px solid white; */
    
}

.hotelname{
    padding-top: 40px;
    padding-left: 30px;
    font-size: 30px;
    letter-spacing: 0.2em;
    font-weight: 500;
    font-family: 'Sedan SC', sans-serif;
}

