@import url('reset.css');

body {
    /* width: 100vw; */
    font-size: 20px;
    font-family: 'Noto Sans TC';
    line-height: 1.6;
    
}



.button-group{
    position: fixed;
    bottom:50px;
    right: 20px;
    z-index: 100;
    text-align: center;
}

.bookbutton > img{
    height: 13vh;
    opacity: .7;
}

.bookbutton > img:hover{
    opacity: 1;
    transform: scale(1.2);
}

.topbutton > i{
    font-size: 6vh;
    opacity: .6;
    color: #000;
}

.topbutton > i:hover{
    opacity: 1;
    /* transform: scale(1.5); */
}

.bookwrapper{
    /* display: none; */
    width: 100vw;
    height: 100vh;
    position: fixed;
    border: 1px solid;
    background-color: rgba(15, 15, 15, 0.9);
    z-index: 99999;
}

.booking{
    width: 25vw;
    height: 55vh;
    text-align: center;
    margin: 150px auto;
    /* border: 2px solid red; */
    font-size: 20px;
    z-index: 9999;
    background: #FFF;
    position: relative;
 
}

.booking-title{
    
    background: #2EA9DF;
    height: 80px;
    line-height: 80px;
    font-size: 1.5em;
    color: white;
    
    
}

.booking i{
    position: absolute;
    font-size: 40px;
    right: 30px;
    top: 5px;
    color: white;
}


.booking > i.XXX{
    transform: rotate(360deg);
    transition: .3s;
}


.booking form{
    
    
    /* text-align: left; */
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-top: 50px;
    width: 15vw;

}

.booking form label{
    margin-right: 20px;
    /* margin-top: 20px; */
}

.booking form input{
    border: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3) ;
    width: 50%;
    font-size: 20px;
    text-align: center;
    height: 25px;
    line-height: 25px;
}

.booking a{
    text-decoration: none;
    color: white;
    background-color: #242021;
    border-radius: 22px;
    padding: 10px 20px;
    /* margin-left: 30px; */
    font-size: 18px;
    transition: all .2s ease;
    
}

.booking a:hover{
    background: rgb(75, 75, 75);
}

.-off
{
    display: none;
}


#language2{
    display: none;
}




/* -------------------------- header -------------------------- */
.toggle {
    position: relative;
    height: 45px;
    width: 45px;
    cursor: pointer;
    display: none;
}
.span1, .span2, .span3{
    content: "";
    background: #414141;
    width: 33px;
    height: 3px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transition: 1.3s cubic-bezier(0.53, 0, 0.15, 1.3);
}



.span1 {
    top: -30%;
}
.span2 {
    top: 50%;
}

.span3 {
    top: 10%;
}

.top {
    background: #2EA9DF;
    /* opacity: 1; */
    width: 100%;    
    position: fixed;
    z-index:   50 ;
    float: left; 
  


}

.header {
    /* border: 1px solid blue;  */
    width: 90vw;
    margin: 0 auto;
    display: flex;
    position: relative;
    /* padding: 10px 0; */

    /* justify-content:first baseline; */
}

.logo {
    padding: 10px 0 0 10px ;
    display: flex;

    /* height: 30px; */
    /* border: 1px solid red; */
}

.logo img {
    height: 70px;
}



.menu {
    /* border: 1px solid red; */
    display: flex;
    padding-top: 30px;
    letter-spacing: 0.1em;
    /* color: white; */

}

.menu li {

    margin-left: 30px;
    /* color: white; */
}

.menu li a{
    text-decoration: none;
    color: white;
}

.menu li a:hover{
    color: yellow;
    transition: .2s;
    padding-bottom: 3px;
    border-bottom: 2px solid yellow;
    /* text-shadow: 5px 5px 4px #303030; */
}


.header-right {
    color: white;
    display: flex;
    position: absolute;
    right: 0;
}




.clock-time {
    padding-top: 30px;
    /* border: 2px solid green; */
    display: flex;
    padding-right: 10px;
}

.clock-time a{
    text-decoration: none;
    color: white;
    padding-right: 20px;
}

.header-right select{
    border: 0;
    background: #00000000;
    appearance: none;
    margin-top: 27px;
    margin-right: 5px;
    margin-left: 40px;
    color: white;
    padding: 10px 25px;
    background-image: url('../img/globe.svg');
    background-repeat: no-repeat;
    background-position: left center;
    font-size: 18px;
    
    
    
}
.header-right option{
    background: #000;
    padding: 0;
}
/* -------------------  banner ------------------ */

.banner {
    position: relative;
   
    /* display: flex; */
    /* overflow: hidden; */
    
}

.banner-img > img{
    width: 100%;
    height: 100vh;
}


.banner-title{
    position: absolute;
    left: 0;
    top: 22vh;
    left: 8vw;
}


.banner-title h1{
    /* top: 30vh; */
    /* left: 18vw; */
    font-size: 4vw;
    font-family: 'Sedan SC', sans-serif;
    letter-spacing: 0.1em;
}

.banner-title h2{
    /* margin-top: 10px; */

    text-align: left;
    font-size: 2.5vw;
    letter-spacing: .3em;
}

/* ---------------- main top --------------------- */
.main{
    /* border: 2px solid red; */
    position: relative;
}

.main::before{
    content: "";
    width: 600px;
    height: 2px;
    background: #A46822;
    position: absolute;
    top: 520px;
    left: -160px;
    transform: rotate(90deg);
    opacity: .5;
    z-index: -1;

}

.main::after{
    content: "Hotel Facilities";
    writing-mode: vertical-rl;
    position: absolute;
    top: 880px;
    left: 85px;
    font-size: 64px;
    font-family: 'Sedan SC', sans-serif;
    color: #A46822;
    letter-spacing: 0.3em;
    opacity: .5;
    z-index: -1;
}

.main-top{
    /* padding: .5rem; */
    margin-left: 15vw;
    margin-top: 20px;
    font-size: 16px;
    

}

.nav{
    display: flex;
    /* padding: 0; */
    
}


.nav li:not(:last-child)::after {
    display: inline-block;
    margin: 0 1rem;
    content: "/";
}

.nav li a{
    text-decoration: none;

    color: #000;
}

.nav .about{
    color: #A46822; 
}



/* ------------- mian title---------- */
.main-title{
    /* border: 1px solid red; */
    margin-top: 40px;
    display: flex;
    justify-content: center;    
}

.main-title h1{
    padding: 0 20px;
    font-size: 2em;
    letter-spacing: 1em;
    padding-left: 20px;
}

.main-title .s1{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    background: #2EA9DF;
}
.main-title .s2{
    margin-top: 25px;
    width: 20px;
    height: 20px;
    background: yellow;
}


/* ----------- facilities ----------- */

.facilities-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
    /* border: 1px solid; */
}

.facilities-item{
     display: flex;
     margin-bottom: 180px;
     /* justify-content: center; */
     /* border: 1px solid; */
}

.facilities-pic > img{
    
    width: 40vw;
}


.facilities-content{
    /* align-items: center */
    text-align: center;
    width: 50vw;
    padding: 0 40px;    
    position: relative;
    /* border: 1px solid red; */
}

.facilities-content h2{
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 40px;
}



.facilities-content p{
    font-size: 16px;
    margin-bottom: 80px;
    text-align: left;
}


.facilities-button a{
    text-decoration: none;
    color: #A46822;
    /* border: 1px solid; */
    padding: 0 8px 5px 8px;
}

.facilities-button a::after{
    content: "";
    /* border: 1px solid #A46822; */
    position: absolute;
    display: block;
    margin-top: 3px;
    height: 3px;
    left: 50%;
    transform: translate(-51.5%);
    width: 100px;    
    background: #A46822;
    text-align: center;
}

.facilities-button a:hover::after{
    
    content: "";
    /* border: 1px solid #A46822; */
    position: absolute;
    display: block;
    height: 1px;
    width: 130px;
    left: 50%;
    transform: translate(-51%);
    transition: .3s;
    background: #A46822;
    margin-top: 3px;
    transition-duration:.1s; 
}




/* ------------------- bottom ---------------------- */
.bottom{
    background-color: #2EA9DF;
    color: white;
     margin-top: 50px;
}

.footer{
    max-width: 1200px;
    padding: 40px 0 10px 0;
    /* border: 1px solid red; */
    margin: 0 auto;
    /* margin-top: 80px; */
    
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.footer-nav li{
    /* margin-right: 10px; */
    /* border: 1px solid green; */
    margin-bottom: 20px;
}



.footer-logo{
    height: 100px;
    
}

.li-logo{
    display: flex;
    /* border: 1px solid white; */
    
}

.hotelname{
    padding-top: 35px;
    padding-left: 30px;
    font-size: 24px;
    font-family: 'Sedan SC', sans-serif;
}

.contact-us{
    /* border: 1px solid red;    */
    line-height: 2em;
    font-size: 14px;
    letter-spacing: .2em;
    
    /* height: 2.3rem; */
    /* font-family: 'Sedan SC', sans-serif; */
}




.follow-us {
    /* border: 1px solid; */
    width: 200px;
    text-align: center;
}


.footer-icon {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    color: white;

}

.footer-icon i{
    color: white;
}

.footer > p{
    text-align: center;
    font-size: 14px;
    letter-spacing: .2em;
    /* font-family: 'Sedan SC', sans-serif; */
}

